<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WAVCutter/src/main/java/wavCutter/WAVCutter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.java.wavCutter.WAVCutter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WAVCutter"/>
</launchConfiguration>
